*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Caveat Brush', cursive;
    padding: 30px;
}
body.over{
    overflow: hidden;
}
.newUser{
    font-size: 60px;
    margin-top: 60px;
    color: #c77d36;
    text-align: center;
}
.newUser span {
    color:#4d47ad;

}
/*navbar*/
nav{
    display: flex;
    width: 100%;
    height: 50px;
    /* background-color: #aaf; */
    /* padding: 10px; */
}
nav ul{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    display: flex;
    margin-left: auto;
    list-style: none;
    align-items: center;
    justify-content: center;

}
nav ul li {
    margin-right: 15px;
    display: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #c77d36;
    transition: .5s;
    letter-spacing: 1px;
    font-family: 'Livvic', sans-serif;
}
nav ul li a:hover{
    color: #4d47ad;
}
.logInBadge{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.overlay{
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 888;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transform: scale(.97);

}
.bobup,
.logInmain{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.8);
    background-color: #fff;
    width: 600px;
    height: 400px;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    box-shadow: 1px 1px 10px rgba(0,0,0,.5);
    backface-visibility: hidden;
    font-family: 'Livvic', sans-serif;
}
.logInmain{
    position: static;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: unset;
    font-family: 'Livvic', sans-serif;
    transform: translate(0,0) scale(1);
    /* border: 2.5px dotted #c77d36; */

}
.errMassage{
    position: absolute;
    top: 28%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0,0,.07);
    background: #c77d36;
    width: 500px;
    padding: 10px;
    font-size: 17px;
    color: #fff;
    font-family: 'Livvic', sans-serif;
    transform: translate(-50%,-50%) scale(.9);
    transition: .5s;
    opacity:0;
    visibility: hidden;
}
.bobup h2,
.logInmain h2 {
    margin-bottom: auto;
    color: #c77d36;
    font-size: 40px;
    letter-spacing: 1px;
    margin-top: 20px;
}
#dataInfo{
    margin-bottom: auto;
}
#dataInfo h3 {
    font-size: 25px;
    color: #4d47ad;
    margin-bottom: 10px;
    letter-spacing: 1px;

}
#dataInfo h3 span {
    color:#c77d36;
}
.bobup form,
.logInmain form{
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    width: 350px;
    backface-visibility: hidden;

}
.bobup form input,
.logInmain form input{
    width: 100%;
    margin-bottom: 30px;
    padding: 5px 10px;
    border: none;
    border-bottom: 2.5px dotted #c77d36;
    font-size: 14px;
    font-family: 'Livvic', sans-serif;
    transition: .5s;
    backface-visibility: hidden;

}
.bobup form input:focus,
.logInmain form input:focus{
    border-color: #4d47ad;
}   
.bobup form button,
.logInmain form button{
    backface-visibility: hidden;
    width: 115px;
    padding: 8px 20px;
    border-radius: 100px;
    /* font-size: 15px; */
    margin-right : auto;
    background-color: transparent;
    border: 2px solid #c77d36;
    color: #c77d36;
    font-size: 15px;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
    font-family: 'Livvic', sans-serif;
}

.bobup form button:hover,
.logInmain form button:hover{
    background-color: #c77d36;
    color: #fff;
    transform: translateY(-1px)
}
.bobup form button:active,
.logInmain form button:active{
    transform: translateY(1px)
}
.active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);

}
.activebob{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);

}
.fbDiv{
    margin-top: 16px;
    font-size: 17px;
    color: #333;
}
.fbDiv a{
    text-decoration: none;
    color: #333;
    transition: .5s;
    display: inline-block;
    color: #4d47ad;
}
.fbDiv a:hover{
    transform: translateX(2px);
    color: #c77d36; 

}

/* title */
.title-top{
    display: flex;
    color: #c77d36;
    position: relative;
    width: 100%;
}
.title-top h2 {
    font-weight: 300;
    font-size: 25px;
}
.title-top h2:first-child{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%)
}
.title-top h2:last-child{
    margin-left: auto;
    margin-right: 30px;
}
/* note-body */

.note-body-top{
    display: flex;
}
.box-left-top{
    border-radius: 30px;
    border: 4px solid #4d47ad;
    width: 250px;
    height: 140px;
    text-align: center;
    padding: 10px;
    position: relative;
}
.box-left-top textarea{
    width: 100%;
    height: 57px;
    font-family: 'Caveat Brush', cursive;
    letter-spacing: 1px;
    text-align: center;
    background-color: transparent;
    overflow: hidden;
    resize: none;
    border: none;
    outline: none;
    font-size: 25px;
    color: #4d47ad;
    display: block;
    margin-top: 10px;
    outline: none;
}
.box-left-top img{
    position: absolute;
    bottom: -52px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
}
.box-left-top p {
    font-size: 40px;
    color: #c77d36;
}
.lines{
    width: 100%;
    margin-top: 10px;
    padding:10px 20px;
    outline: none;
    min-height: 550px;
    position: relative;
    z-index: 1;
}
.textar{
    width: 100%;
    font-size: 20px;
    z-index: 22;
    margin-top: 10px;
    background: transparent;
    padding:10px 20px;
    outline: none;
    min-height: 570px;
    border: none;
    line-height: 2;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    scroll-snap-type: none;
    font-family: 'Livvic', sans-serif;
}

.lines span{
    width: 100%;
    display: block;
    height: 10px;
    border-bottom: 2px dotted #000;
    margin-top: 30px;
    font-size: 20px;
    line-height: 0;
    
}
*{
    outline: none;
}
/*note-body-bottom*/
.note-body-bottom{
    display: flex;
}
.box-left-bottom fieldset{
    text-align: center;
    min-height: 330px;
    transform: translateY(50px);
    border-radius: 30px;
    border: 4px solid #4d47ad;
    padding: 10px;
    box-shadow: -5px 3px 0 rgba(0,0,0,.3);
}
.box-left-bottom fieldset legend{
    padding: 0 15px;
    font-size: 50px;
    color: #c77d36;
}
.boxs{
    margin-top: 16px;
}
.boxs li{
    display: flex;
    align-items: center;
    position: relative;
}
.boxs li:not(:first-of-type){
    margin-top: 15px;
}
li .inputVal{
    display: block;
    font-family: 'Livvic', sans-serif;
    width: 190px;
    margin-left: 10px;
    border-bottom: 1px solid #c77d36;
    text-align: left;
    overflow: hidden;
    
}   
label{
    width: 22px;
    height: 20px;
    border: 1.2px solid #c77d36;
    position: relative;
    cursor: pointer;
}
label i{
    position: absolute;
    font-size: 25px;
    color: #4d47ad;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.checkbox:checked ~ label i{
    display: block;
}
.checkbox{
    display: none;
}
.checkbox:checked ~ .inputVal{
    color: #888;
    text-decoration: line-through;
}
.close{
    background-color: transparent;
    position: absolute;
    right: 5px;
    top: 0;
    transform: translateY(-40%);
    outline: none;
    cursor: pointer;
    color: #4d47ad;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
    font-size: 25px;
    font-weight: 900;
}
.close:hover{
    color: #c77d36
}
.checkbox:checked ~ .close{
    visibility: visible;
    opacity: 1;
}
.addcontiner{
    width: max-content;
    position: relative;
}
.addInput{
    border: none;
    padding: 5px 0;
    color: #4d47ad;
    border-bottom: 1px solid #c77d36;
    outline: none;
    font-size: 15px;
    font-family: 'Livvic', sans-serif;
    width: 227px;
}
.addCheckbox{
    padding: 5px ;
    cursor: pointer;
    background-color: #c77d36;
    color: #fff;
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}
footer{
    width: 100%;
    height: 200px;
    display: flex;
    border: 2px solid #c77d36;
    border-radius: 50px;
    padding: 10px;
    margin: 100px 10px 10px;
    position: relative;
}
.icon-box{
    background-color: #fff;
    width: 70px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
footer .icon-box i {
    color: #4d47ad;
    font-size: 55px;
}
footer .icon-box:first-of-type {
    left:-2px;
    top: -10px;
}
footer .icon-box:last-of-type {
    right: -5px;
    bottom: -14px;
}
.footer-title{
    width: max-content;
    height: max-content;
    position: absolute;
    padding: 10px 20px ;
    background-color: #c77d36;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 25px;
    font-family: 'Livvic', sans-serif;

}
.footer-name{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 9px;
    right: 100px;
    width: 250px;
}
.footer-name span{
    display: block;
    
}
.footer-line{
    width: 100%;
    border: none;
    font-family: inherit;
    color: #c77d36;
    display: block;
    text-align: center;
    height: 45px;
    background-color: transparent;
    resize: none;
    overflow: hidden;
    font-size: 30px;
    outline: none;
    margin-top: auto;
    margin-bottom: auto;

}
.footer-name .name{
    color: #c77d36;
    font-weight: 300;
    font-size: 20px;
    margin-right: 10px;
}   
.footer-name .line{
    width: 50%;
    height:10px;
    line-height: 0;
    font-size: 20px;outline: none;
    border-bottom: 2px dotted #c77d36;
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Livvic', sans-serif;

}
.logo{
    background-color: #fff;
    width: 137px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -25px;
    left: 45px;
}
.logo h2 {
    font-family: 'Lemonada', cursive;
    color: #c77d36;
    font-size: 30px;
}
